.App {
  text-align: center;
  background-color: aquamarine;

}
.Carousel{
  margin: 5%;
}
.form{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
  margin: 5%
}
.card{
  display: flex;
justify-content: center;
padding: 1%;
border: none;
}
.footer {
  background-color: beige;
  margin: 5%;
}
.row{
  display: flex;
  justify-content: center;
}

